@import "vars.scss";

.modal-wrapper {
  min-height: 100%;
  position: absolute;
  display: flex;
  right: 0;
  z-index: 4;
  
  @media (min-width: 768px) {
    transition: 1s;
    max-width: 320px;
  }
  @media (min-width: 1366px) {
    max-width: 440px;
  }
  &--hidden {
    transform: translateX(300%);
  }
  &--none {
    display: none;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bgColor_2;
  box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2);
  z-index: -1;
  &--hidden {
    display: none;
  }
}

.modal-call,
.modal-feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $bgColor_2;
  @media (min-width: 1366px) {
    position: relative;
    bottom: 70px;
  }
  &--hidden {
    display: none;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $bgColor_2;
}

.modal__button-close {
  align-self: flex-start;
  margin: 24px 0 40px 16px;
  @media (min-width: 1366px) {
    position: relative;
    right: 100px;
  }
}

.modal__title {
  display: block;
  margin-left: 16px;
  color: $color_1;
  font-family: $LakesBold;
  font-size: 24px;
  line-height: 32px;
  @media (min-width: 1366px) {
    margin-left: 32px;
  }
  &:before {
    content: url("../img/highlight.svg");
    position: absolute;
    left: 0;
    @media (min-width: 1366px) {
      content: url("../img/highlight-desktop.svg");
      position: absolute;
      left: 0;
    }
  }
}

.modal__input {
  display: block;
  font-family: $LakesRegular;
  font-size: 16px;
  width: auto;
  height: 48px;
  padding: 12px;
  margin: 16px;
  margin-bottom: 0;
  border: 1px solid $bordercolor_1;
  border-radius: 8px;
  @media (min-width: 768px) {
    // margin: 0;
    margin-top: 16px;
    align-self: center;
    width: 288px;
  }
  @media (min-width: 1366px) {
    width: 376px;
  }
}
.modal__input-message {
  min-height: 118px;
  resize: none;
}

.modal__form{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.modal__text {
  max-width: 85%;
  margin: 16px;
  font-family: $LakesRegular;
  font-size: 14px;
  line-height: 16px;
  @media (min-width: 1366px) {
    margin-left: 32px;
  }
}
.modal__link {
  text-decoration: none;
  color: $color_3;
}
.modal__submit-button {
  align-self: flex-end;
  margin-right: 16px;
  margin-bottom: 75px;
  @media (min-width: 1366px) {
    margin-right: 32px;
  }
}

