@import 'vars.scss';

.page__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 16px;
  @media (min-width: 768px) {
    margin: 24px;
    margin-bottom: 32px;
  }
  @media (min-width: 1366px) {
    max-width: 1045px;
    margin: 42px 32px 10px 35px;
  }
}

.title__menu {
  display: none;
  @media (min-width: 1366px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.title__text {
  color: $color_1;
  font-family: $LakesBold;
  font-size: 28px;
  line-height: 40px;
  &::before {
    content: '';
    width: 4px;
    height: 40px;
    background-color: $lightGreen;
    position: absolute;
    left: 0;
    @media (min-width: 1366px) {
      width: 3px;
      left: 322px;
    }
  }
}
.title__button {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-family: $LakesRegular;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  &::after {
    margin-left: 8px;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $btnFucsia;
  }
}
.title__button-check-status {
  &::after {
    background-image: url('../img/btn-checkStatus.svg');
  }
}
.title__button-repair {
  &::after {
    background-image: url('../img/btn-repair.svg');
  }
}
