.page__aside {
  position: relative;
  width: 320px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  filter: blur(5px);
  z-index: -1;
}
.page__side-menu {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
}

.click {
  cursor: pointer;
}
