.side-menu__header {
  padding: 0;
  padding-top: 19px;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.side-menu__logo {
  height: 51px;
  margin-left: 16px;
}
.side-menu__button-search {
  margin-left: 78px;
}
