.side-menu__main {
  flex-grow: 1;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  font-family: TTLakes-Regular, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.side-nav__item {
  height: 58px;
  display: flex;
  padding: 16px 0;
}
.side-nav__item--active::before {
  content: url(../../img/icons/highlight--side-menu.svg);
  align-self: center;
  position: absolute;
  left: 0;
}

.side-nav__link {
  display: block;
  width: 100%;
  color: #1b1c21;
  text-decoration: none;
}
.side-nav__link--active,
.side-nav__link:hover {
  color: #7e7e82;
}
